.body {
    width: auto;
    background-image: url(545905.jpg);
    background-size: cover;
    height: 800px;

}

.box {
    width: 800px;
    margin: 30px auto;
    color: red;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#seconds,
#tens {
    font-size: 2em;
}

button {

    background: orange;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    transition: 0.3s;
}

button:hover {
    background-color: #3e8e41;
    color: white;
}